$font-stack: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-color: #1a73e8;
$background-color: #fff;
$font-color: #202124;
$hover-background-color: #f0f0f1;
$active-background-color: #e8eaed;
$button-border-color: #f8f9fa;
$modal-overlay-background-color: rgba(0, 0, 0, 0.5);
$modal-content-background-color: #fff;
$border-radius: 4px;

// Breakpoints
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;