// Importer variabler og mixins
@import 'base/variables';

@media (max-width: $tablet-breakpoint) {
  .button-primary {
    padding: 8px 20px;
    font-size: 0.8rem;
  }

  .modal-overlay {
    padding: 10px;
  }

  .modal-content {
    width: 100%;
    max-width: none;
  }

  .contact-form {
    gap: 15px;
  }
  .fake-input {
    width: 80vw; 
    min-height: 40px; 
  }

  .firstNameContainer {
    font-size: 3em; 
  }

  .lastNameContainer {
    font-size: 1.5em;
    left: 50px; 
  }

}
@media (max-width: $mobile-breakpoint) {
    body {
        font-size: 14px;
      }

  .button-primary {
    padding: 8px 15px;
    font-size: 0.7rem;
  }

  .modal-overlay {
    padding: 5px;
  }

  .modal-content {
    padding: 20px;
  }

  .contact-form {
    gap: 10px;
  }
.fake-input {
    width: 90vw; 
    min-height: 35px; 
    border-radius: 20px; 
}
.firstNameContainer, .lastNameContainer {
    font-size: 2em; 
    left: 0; 
    margin-bottom: 10px; 
  }
}